<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <strong>Adicionar Novo Professor</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <form class="example-container" [formGroup]="teacherForm" (ngSubmit)="postTeacher(teacherForm.value)">
                <mat-form-field>
                  <input matInput name="name" required placeholder="Nome do Professor" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                  <input  matInput name="lastName" required placeholder="Sobrenome do Professor" formControlName="lastName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>PHD</mat-label>
                    <select matNativeControl required name="phd" formControlName="phd">
                      <option value="true">Possui</option>
                      <option value="false">Não possui</option>
                    </select>
                  </mat-form-field>
                <button type="submit" [disabled]="!teacherForm.valid" mat-button color="primary" >Adicionar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>