<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/prominas.svg', width: 120, height: 50, alt: 'Prominas Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/small.svg', width: 30, height: 30, alt: 'Prominas Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="/usuario">Usuário</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="/professor">Professor</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="/curso">Curso</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="/estudante">Estudante</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="/graficos">Gráficos</a>
      </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/9.png" class="img-avatar" alt="julio619alves@gmail.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div *ngIf="auth.isAuthenticated()"class="dropdown-header text-center"><strong>Account</strong></div>
        <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">777</span></a>
        <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">777</span></a>
        <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">777</span></a>
        <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">777</span></a>
        <div class="dropdown-header text-center"><strong>Profile</strong></div>
        <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a *ngIf="auth.isAuthenticated()" class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <div class="divider"></div>
        <button *ngIf="!auth.isAuthenticated()" class="dropdown-item" (click)="auth.login()"><i class="fa fa-sign-in"></i> Login</button>
        <button *ngIf="auth.isAuthenticated()" class="dropdown-item" (click)="auth.logout()"><i class="fa fa-lock"></i> Logout</button>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer>
    </app-sidebar-minimizer>
  </app-sidebar>
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="https://github.com/jknvlvxs">jknvlvxs</a> &copy; Trainee Prominas</span>
  <span class="ml-auto">Template by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>
