<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <strong>Adicionar Novo Usuário</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <form class="example-container" [formGroup]="userForm" (ngSubmit)="postUser(userForm.value)">
                <mat-form-field>
                  <input matInput name="name" required placeholder="Nome do Usuário" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                  <input  matInput name="lastName" required placeholder="Sobrenome do Usuário" formControlName="lastName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Perfil</mat-label>
                    <select matNativeControl required name="profile" formControlName="profile">
                      <option value="admin">Administrador</option>
                      <option value="guess">Visitante</option>
                    </select>
                  </mat-form-field>
                <button type="submit" [disabled]="!userForm.valid" mat-button color="primary" >Adicionar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>